/* eslint-disable */

body {
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  margin: 0;
  box-sizing: border-box;
  
}

a:link, a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;


}

a:hover, a:active {
 text-decoration: none;
}

/*MENU*/

#menu {
  color: rgb(255, 255, 255);
  position: fixed;
  top: 60px;
  right: 85px;
  width: 60px;
  height: 30px;
  cursor: pointer;
  z-index: 400;}


#menu span {
  display: block;
  position: absolute;
  height: 4px;
  background-color:#ffffff;
  left: 0;
  transform: rotate(
0deg
);
  transition: .25s ease-in-out;}

#menu span:first-child {
  width: 100%;
  top: 0;
}

#menu span:nth-child(2) {
  width: 100%;
  top: 10px;
}
#menu span:nth-child(3) {
  width: 80%;
  top: 20px;
  right: 0;
  left: auto;
}

#menu:hover span {
background-color: rgb(168, 38, 255);
}



.info {
  position: fixed;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-top: 30vh;
  padding: 5vw;
  z-index: 500;
  width: fit-content;
  height: fit-content;
  color: #fff;
}

.info span {
  display:inline-block;
  width:0.05vw;
  background-color: rgb(255, 255, 255);
  height:300%;
  
}


.firstContainer .loaded {
  
 transition: transform 2s cubic-bezier(.81,.04,.16,.97);
 transform: scale(1.5);
 position: absolute;
 top: 20vh;
 left: 25vw;
 z-index: 1000;


}

.thirdContainer .loaded {
  
  transition: transform 2s cubic-bezier(.81,.04,.16,.97);
  transform: scale(1.2);
  position: absolute;
  top: 350vh;
  left: 45vw;
  z-index: 1000;
 
 }

/* animation: scale cubic-bezier(.81,.04,.16,.97) 2s forwards;
@keyframes scale {
  100% { transform: scale(1.8) }
}*/



.firstContainer {
  font-size: 18px;
  width: 100%;
  height: 800px;
  background-color: #131314;
  color: #ffffff;
  background-image: url('./components/assets/brain.png');
  background-position-x: 100vw;
  background-position-y: 510vh;
  background-size: 50%;


  
}


h1{
  
  position: absolute;
  width: fit-content;
  left: 70vw;
  top: 10vh;
  font-size: 90px;
  margin: 0;
  letter-spacing: 0.05em;
  color: #ffffff;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-transform:uppercase;
  

}

h1 span {
  color: #ffee00;
}

.content1 {
  display: grid;
  width: 60%;
  column-gap: 4vw;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, minmax(0, 2fr));
  position: relative;
  top: 10vh;
  left: 15vw; 
}




.secondContainer {

  font-size: 18px;
  width: 100%;
  height: 1000px;
  background-image: linear-gradient(rgb(168, 38, 255), rgb(175, 35, 240));

  }


h2{
  position: absolute;
  width: fit-content;
  left: 15vw;
  top: 155vh;
  font-size: 50px;
  margin: 0;
  letter-spacing: 0.05em;
  color: #000000;
  text-transform: uppercase;
  
}

.content2 {
  display: grid;
  width: 60%;
  column-gap: 4vw;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, minmax(0, 2fr));
  position: relative;
  top: 10vh;
  left: 15vw; 
  


}

.contentItem #img1 {   
  max-width: 100%;
  max-height: 100%;

  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}



  }

  .contentItem #img2 {   
    max-width: 100%;
    animation: fadeIn ease 6s;
    -webkit-animation: fadeIn ease 6s;
    -moz-animation: fadeIn ease 6s;
    -o-animation: fadeIn ease 6s;
    -ms-animation: fadeIn ease 6s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0.3;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0.4;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0.5;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  
  
  
    }

.thirdContainer {
  
  font-size: 18px;
  width: 100%;
  height: 1500px;
  background-color: #131314;

}

h3{
  position: absolute;
  width: fit-content;
  left: 15vw;
  top: 280vh;
  font-size: 50px;
  margin: 0;
  letter-spacing: 0.05em;
  color: #ffffff;
}


.content3 {
  text-align: justify;
  position: relative;
  width: 60%;
  top: 30vh;
  left: 15vw;
  color: #fff;
 
}

hr{
  position:absolute;
  top:410vh;
  left: 15vw;
  width: 30vw;
  border-top: 0.5px solid#ffffff;
}







 
