body {
  background-color: white; /* #282c34;*/
  color: black;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}

#navbar {
  font-size: 16px;
}
 


h1{
  color: rgb(0, 0, 0);
 text-align: center;
 padding: 30px;
 font-size: 60px
}

h2{
  color: rgb(0, 0, 0);
 text-align: center;
 padding: 30px;
 font-size: 50px;
}



/*CONTENT*/

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'a b';
                      
  grid-gap: 40px;
  padding: 40px;
  
}


header {
  font-size: 60px;
  letter-spacing: 2px;
  color: white;

}

#citem {
  height: 700px;
}
#caption {
  top:80px;
}


form {

  text-align: justify;
  background-color: #f8f9fa;
  color: rgb(0, 0, 0);
  padding: 0px 30px 30px 30px;
  

}

form>h3{ color: rgb(0, 0, 0);
  
  padding: 30px;
  font-size: 40px;}

.articles {
  display: inline-grid;
  color: rgb(0, 0, 0);
  background-color: #f8f9fa;
  padding: 0px 30px 30px 30px;
  text-align: justify;
 

}


.articles>h3{
  color: rgb(0, 0, 0);
 
 padding: 30px;
 font-size: 40px;
}

