/* eslint-disable */

body {
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  margin: 0;
  box-sizing: border-box;
  
}

a:link, a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;


}

a:hover, a:active {
 text-decoration: none;
}

/*MENU*/

#menu {
  color: rgb(255, 255, 255);
  position: fixed;
  top: 60px;
  right: 85px;
  width: 60px;
  height: 30px;
  cursor: pointer;
  z-index: 400;}


#menu span {
  display: block;
  position: absolute;
  height: 4px;
  background-color:#ffffff;
  left: 0;
  transform: rotate(
0deg
);
  transition: .25s ease-in-out;}

#menu span:first-child {
  width: 100%;
  top: 0;
}

#menu span:nth-child(2) {
  width: 100%;
  top: 10px;
}
#menu span:nth-child(3) {
  width: 80%;
  top: 20px;
  right: 0;
  left: auto;
}

#menu:hover span {
background-color: #fff;
}



.info {
  position: fixed;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-top: 30vh;
  padding: 5vw;
  z-index: 500;
  width: fit-content;
  height: fit-content;
  color: #fff;
}

.info span {
  display:inline-block;
  width:0.05vw;
  background-color: rgb(255, 255, 255);
  height:300%;
  
}

.loaded {
  transform: scale(1,1);
  animation: fadeIn ease 3s, floating ease-in-out 2s 5;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

  
@keyframes floating { 
  0% { transform: translate(0,  0px); } 
  50%  { transform: translate(0, 15px); } 
  100%   { transform: translate(0, 0px); }     
} 


.firstContainer {
  font-size: 18px;
  width: 100%;
  height: 1000px;
  background-color: #131314;
  color: #ffffff;
  
  
  
}


h1{
  position: absolute;
  width: fit-content;
  left: 70vw;
  top: 35vh;
  font-size: 100px;
  margin: 0;
  letter-spacing: -0.03em;
  color: #ffffff;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-transform: uppercase;

}

h1 span {
  color: #a20338;
}

.content1 {
  text-align: justify;
  position: relative;
  width: 40%;
  top: 10vh;
  left: 15vw;
  
}

.content1>.lazyload {
  position: absolute;
  top: 55vh;
  left: 25vw;
 

}


.secondContainer {

  font-size: 18px;
  width: 100%;
  height: 1000px;
  background-color: #a20338;

  }

  

h2{
  font-size: 50px;
  margin: 0;
  padding: 5vw 12vw 0vw;
}

.content2 {
  
 text-align: justify;
 padding: 5vw 12vw 10vw;
 width: 65%;

}

.thirdContainer {
  
  font-size: 18px;
  width: 100%;
  height: 1000px;
  background-color: #131314;


}

h3{
  font-size: 50px;
  margin: 0;
  padding: 5vw 12vw 0vw;
  color: #fff;
}


.content3 {
 
  text-align: justify;
  padding: 5vw 12vw 10vw;
  width: 65%;
  color: #fff;
}







 
